
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

 
</head>

<body>
  <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="line-scale"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
  <div [class.toggled]="show" class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-dark navbar-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading bg-dark mb-4"> 
          <a href="https://www.kaartech.com/">
            <img src="https://media.glassdoor.com/sqll/443831/kaar-technologies-squarelogo-1407823308138.png" style="margin-left: 30px;" width="50" height="50" class="d-block ml-4 mb-2 align-center img-thumbnail" id="logo" alt="">
          </a> 
          <div class="kaar-color">Kaar Technologies</div>
      </div>
      
      <div class="list-group list-group-flush">
        <a routerLink="/customerlogin/customerprofile" class="list-group-item list-group-item-action bg-dark text-light nohover">Customer Profile</a>
        <a routerLink="/customerlogin/customerdashboard" class="list-group-item list-group-item-action bg-dark text-light">Customer Dashboard</a>
        <a routerLink="/customerlogin/customerfinancialsheet" class="list-group-item list-group-item-action bg-info text-light">Customer Financial Sheet</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <button (click)="toggle()" class="btn btn-primary" id="menu-toggle">Show/Hide</button>
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        </div>
       
        <div class="mx-auto order-0">
            <span class="navbar-brand mx-auto">Customer Portal</span>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <button class="ui red button ml-2" (click)="logout()" id="lbtn">Logout</button>
                </li>
            </ul>
        </div>
        
          <button class="ui red button ml-2 navbar-toggler" (click)="logout()" id="lbtn" type="button" data-toggle="collapse" data-target=".dual-collapse2">Logout</button>
        
    </nav>
      <div class="container-fluid">
        <h4 class="mt-3 text-center"><strong>Invoice Details</strong></h4>
        <div  class="table-responsive">     
          <table id="mytable" class="table table-bordred table-striped">
            <thead>
              <th> </th>
              <th>INVOICENUMBER</th>
              <th>CUSTOMERNUMBER</th>
              <th>QUANTITY</th>
              <th>TOTALAMOUNT</th>
              <th>TAX</th>
              <th>INVOICEDATE</th>
              <th>DELIVERYORDERNO</th>
              <th>SALESORDERNO</th>
              <th>COMPANYNAME</th>
              <th>ITEM</th>
              <th>UNITPRICE</th>
              <th>MATERIALNO</th>
              <th>SHIPTOADDRESS</th>
            </thead>
            <tbody *ngFor="let inv of invArray">
              <tr align="center">
                <td> </td>
                <td>{{inv.INVOICENUMBER._text}}</td>
                <td>{{inv.CUSTOMERNUMBER._text}}</td>
                <td>{{inv.QUANTITY._text}}</td>
                <td>{{inv.TOTALAMOUNT._text}}</td>
                <td>{{inv.TAX._text}}</td>
                <td>{{inv.INVOICEDATE._text}}</td>
                <td>{{inv.DELIVERYORDERNO._text}}</td>
                <td>{{inv.SALESORDERNO._text}}</td>
                <td>{{inv.COMPANYNAME._text}}</td>
                <td>{{inv.ITEM._text}}</td>
                <td>{{inv.UNITPRICE._text}}</td>
                <td>{{inv.MATERIALNO._text}}</td>
                <td>{{inv.SHIPTOADDRESS._text}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <h4 class="mt-3 text-center"><strong>Payments and Aging</strong></h4>
        <div  class="table-responsive">     
          <table id="mytable" class="table table-bordred table-striped">
            <thead>
              <th> </th>
              <th>INVOICENO</th>
              <th>CUSTOMERNUMBER</th>
              <th>AGINGDATE</th>
              <th>GRANDTOTAL</th>
              <th>CURRENCYTYPE</th>
              <th>TAX</th>
              <th>INTEREST</th>
              <th>BALANCEDUE</th>
              <th>ITEMNO</th>
              <th>QUANTITY</th>
              <th>PAYMENTMETHOD</th>
              <th>SHIPTOADDRESS</th>
            </thead>
            <tbody *ngFor="let paa of paaArray">
              <tr align="center">
                <td> </td>
                <td>{{paa.INVOICENO._text}}</td>
                <td>{{paa.CUSTOMERNUMBER._text}}</td>
                <td>{{paa.AGINGDATE._text}}</td>
                <td>{{paa.GRANDTOTAL._text}}</td>
                <td>{{paa.CURRENCYTYPE._text}}</td>
                <td>{{paa.TAX._text}}</td>
                <td>{{paa.INTEREST._text}}</td>
                <td>{{paa.BALANCEDUE._text}}</td>
                <td>{{paa.ITEMNO._text}}</td>
                <td>{{paa.QUANTITY._text}}</td>
                <td>{{paa.PAYMENTMETHOD._text}}</td>
                <td>{{paa.SHIPTOADDRESS._text}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <h4 class="mt-3 text-center"><strong>Credit Memo</strong></h4>
        <div  class="table-responsive">     
          <table id="mytable" class="table table-bordred table-striped">
            <thead>
              <th> </th>
              <th>CREDITNUMBER</th>
              <th>CUSTOMERNUMBER</th>
              <th>BILLINGDATE</th>
              <th>GRANDTOTAL</th>
              <th>CURRENCY</th>
              <th>SHIPTOADDRESS</th>
              <th>QUANTITY</th>
              <th>MATERIALNO</th>
              <th>PRODUCTDESCRIPTION</th>
              <th>INVOICENUMBER</th>
            </thead>
            <tbody *ngFor="let cm of cmArray">
              <tr align="center">
                <td> </td>
                <td>{{cm.CREDITNUMBER._text}}</td>
                <td>{{cm.CUSTOMERNUMBER._text}}</td>
                <td>{{cm.BILLINGDATE._text}}</td>
                <td>{{cm.GRANDTOTAL._text}}</td>
                <td>{{cm.CURRENCY._text}}</td>
                <td>{{cm.SHIPTOADDRESS._text}}</td>
                <td>{{cm.QUANTITY._text}}</td>
                <td>{{cm.MATERIALNO._text}}</td>
                <td>{{cm.PRODUCTDESCRIPTION._text}}</td>
                <td>{{cm.INVOICENUMBER._text}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <h4 class="mt-3 text-center"><strong>Overall Sales</strong></h4>
        <div  class="table-responsive">     
          <table id="mytable" class="table table-bordred table-striped">
            <thead>
              <th> </th>
              <th>SALEORDERNUMBER</th>
              <th>CUSTOMERNUMBER</th>
              <th>SALEORDERDATE</th>
              <th>DELIVERYDATE</th>
              <th>SOLDTOADDRESS</th>
              <th>PAYMENTTERMS</th>
              <th>DELIVERYTERMS</th>
              <th>MATERIALNO</th>
              <th>PRODUCTDESCRIPTION</th>
              <th>TOTALAMOUNT</th>
            </thead>
            <tbody *ngFor="let osd of osdArray">
              <tr align="center">
                <td> </td>
                <td>{{osd.SALEORDERNUMBER._text}}</td>
                <td>{{osd.CUSTOMERNUMBER._text}}</td>
                <td>{{osd.SALEORDERDATE._text}}</td>
                <td>{{osd.DELIVERYDATE._text}}</td>
                <td>{{osd.SOLDTOADDRESS._text}}</td>
                <td>{{osd.PAYMENTTERMS._text}}</td>
                <td>{{osd.DELIVERYTERMS._text}}</td>
                <td>{{osd.MATERIALNO._text}}</td>
                <td>{{osd.PRODUCTDESCRIPTION._text}}</td>
                <td>{{osd.TOTALAMOUNT._text}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  

 

</body>

</html>




