
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

 
</head>

<body>
  <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="line-scale"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
  <div [class.toggled]="show" class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-dark navbar-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading bg-dark mb-4"> 
          <a href="https://www.kaartech.com/">
            <img src="https://media.glassdoor.com/sqll/443831/kaar-technologies-squarelogo-1407823308138.png" style="margin-left: 30px;" width="50" height="50" class="d-block ml-4 mb-2 align-center img-thumbnail" id="logo" alt="">
          </a> 
          <div class="kaar-color">Kaar Technologies</div>
      </div>
      
      <div class="list-group list-group-flush">
        <a routerLink="/employeelogin/employeeprofile" class="list-group-item list-group-item-action bg-dark text-light nohover">Employee Profile</a>
        <a routerLink="/employeelogin/employeeleavedata" class="list-group-item list-group-item-action bg-info text-light">Leave Data</a>
        <a routerLink="/employeelogin/employeesalarypayslip" class="list-group-item list-group-item-action bg-dark text-light">Salary Pay Slip</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <button (click)="toggle()" class="btn btn-primary" id="menu-toggle">Show/Hide</button>
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        </div>
       
        <div class="mx-auto order-0">
            <span class="navbar-brand mx-auto">Employee Portal</span>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <button class="ui red button ml-2" (click)="logout()" id="lbtn">Logout</button>
                </li>
            </ul>
        </div>
        
          <button class="ui red button ml-2 navbar-toggler" (click)="logout()" id="lbtn" type="button" data-toggle="collapse" data-target=".dual-collapse2">Logout</button>
        
    </nav>
      <div class="container-fluid">
        <h2 *ngIf="hisshow" class="text-center mt-3"><strong>Leave History</strong></h2>
        <button *ngIf="hisshow" (click)="showForm()" class="btn btn-success mb-2 d-inline"><i class="fa fa-plus mr-2" aria-hidden="true"></i>Apply Leave</button>
        <div *ngIf="hisshow" class="table-responsive">     
          <table id="mytable" class="table table-bordred table-striped">
            <thead>
              <th>ReferenceNumber</th>
              <th>PersonnelNumber</th>
              <th>StartDate</th>
              <th>EndDate</th>
              <th>StartTime</th>
              <th>EndTime</th>
              <th>AttendanceorAbsenceType</th>
              <th>AttendanceandAbsenceDays</th>
              <th>Absencehours</th>
              <th>Position</th>
            </thead>
            <tbody *ngFor="let leave of leaveArray">
              <tr align="center">
                <td>{{leave.REFNR._text}}</td>
                <td>{{leave.PERNR._text}}</td>
                <td>{{leave.BEGDA._text}}</td>
                <td>{{leave.ENDDA._text}}</td>
                <td>{{leave.BEGUZ._text}}</td>
                <td>{{leave.ENDUZ._text}}</td>
                <td>{{leave.AWART._text}}</td>
                <td>{{leave.ABWTG._text}}</td>
                <td>{{leave.STDAZ._text}}</td>
                <td>{{leave.PLANS._text}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <button *ngIf="applyShow" (click)="backtohistory()" style="margin-left: 36vw" class="btn btn-danger mt-3 ">Back to Leave History </button>
        <div *ngIf="applyShow" style="width: 40vw" class="container">
          <h3  class="text-center mt-3"><strong>Apply Leave</strong></h3>
        <form>
          <div class="form-group">
            <label><strong>PersonnelNumber</strong></label>
            <input disabled type="text"  id="PersonnelNumber" class="form-control" value="001">
          </div>
          <div class="form-group">
            <label><strong>StartDate</strong></label>
            <input type="text" id="StartDate" class="form-control">
          </div>
          <div class="form-group">
            <label><strong>EndDate</strong></label>
            <input type="text" id="EndDate" class="form-control">
          </div>
          <div class="form-group">
            <label><strong>StartTime</strong></label>
            <input type="text" id="StartTime" class="form-control">
          </div>
          <div class="form-group">
            <label><strong>EndTime</strong></label>
            <input type="text" id="EndTime" class="form-control">
          </div>
          <div class="form-group">
            <label><strong>AttendanceOrAbsenceType</strong></label>
            <input type="text" id="AttendanceOrAbsenceType" class="form-control">
          </div>
          <div class="form-group">
            <label><strong>AttendanceAndAbsenceDays</strong></label>
            <input type="text" id="AttendanceAndAbsenceDays"  class="form-control">
          </div>
          <div class="form-group">
            <label><strong>AbsenceHours</strong></label>
            <input type="text" id="AbsenceHours" class="form-control">
          </div>
          <div class="form-group">
            <label><strong>ReferenceNumber</strong></label>
            <input type="text" id="ReferenceNumber" class="form-control">
          </div>
          <div class="form-group">
            <label><strong>Position</strong></label>
            <input type="text" id="Position" class="form-control">
          </div>
          <button (click)="applyLeave()" style="margin-left: 17vw" class="btn btn-success mt-3">Apply</button>
        </form>
        </div>
      </div>
      
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  

 

</body>

</html>




