
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

 
</head>

<body>
  <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="line-scale"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
  <div [class.toggled]="show" class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-dark navbar-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading bg-dark mb-4"> 
          <a href="https://www.kaartech.com/">
            <img src="https://media.glassdoor.com/sqll/443831/kaar-technologies-squarelogo-1407823308138.png" style="margin-left: 30px;" width="50" height="50" class="d-block ml-4 mb-2 align-center img-thumbnail" id="logo" alt="">
          </a> 
          <div class="kaar-color">Kaar Technologies</div>
      </div>
      
      <div class="list-group list-group-flush">
        <a routerLink="/customerlogin/customerprofile" class="list-group-item list-group-item-action bg-dark text-light">Customer Profile</a>
        <a routerLink="/customerlogin/customerdashboard" class="list-group-item list-group-item-action bg-info text-light">Customer Dashboard</a>
        <a routerLink="/customerlogin/customerfinancialsheet" class="list-group-item list-group-item-action bg-dark text-light">Customer Financial Sheet</a>
        
         
        
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <button (click)="toggle()" class="btn btn-primary" id="menu-toggle">Show/Hide</button>
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        </div>
       
        <div class="mx-auto order-0">
            <span class="navbar-brand mx-auto">Customer Portal</span>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <button class="ui red button ml-2" (click)="logout()" id="lbtn">Logout</button>
                </li>
            </ul>
        </div>
        
          <button class="ui red button ml-2 navbar-toggler" (click)="logout()" id="lbtn" type="button" data-toggle="collapse" data-target=".dual-collapse2">Logout</button>
        
    </nav>
      <div class="container-fluid">
        <h4 class="mt-3 text-center"><strong>Inquiry Data</strong></h4>
        <form style="margin-left: 10vw;">
          <div class="form-label-group d-flex align-center mb-3 mt-3">
            <input type="text" id="INQUIRYNUMBER" style="width:50vw;" placeholder="InquiryNumber" class="form-control">
            <button (click)="viewINQ()" class="btn btn-primary ml-3">View</button>
          </div>  
        </form>
        <div *ngIf="inqshow" class="table-responsive">     
          <table id="mytable" class="table table-bordred table-striped">
            <thead>
              <th> </th>
              <th>INQUIRYNUMBER</th>
              <th>SOLDTOPARTY</th>
              <th>PONUMBER</th>
              <th>PODATE</th>
              <th>VALIDFROM</th>
              <th>VALIDTILL</th>
              <th>ITEMNO</th>
              <th>QUANTITY</th>
              <th>EXPECTEDORDERVALIDITY</th>
            </thead>
            <tbody *ngFor="let inq of inqArray">
              <tr align="center">
                <td> </td>
                <td>{{inq.INQUIRYNUMBER._text}}</td>
                <td>{{inq.SOLDTOPARTY._text}}</td>
                <td>{{inq.PONUMBER._text}}</td>
                <td>{{inq.PODATE._text}}</td>
                <td>{{inq.VALIDFROM._text}}</td>
                <td>{{inq.VALIDTILL._text}}</td>
                <td>{{inq.ITEMNO._text}}</td>
                <td>{{inq.QUANTITY._text}}</td>
                <td>{{inq.EXPECTEDORDERVALIDITY._text}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <h4 class="mt-3 text-center"><strong>Sale Order</strong></h4>
        <div  class="table-responsive">     
          <table id="mytable" class="table table-bordred table-striped">
            <thead>
              <th> </th>
              <th>SALEORDERNUMBER</th>
              <th>CUSTOMERNUMBER</th>
              <th>SOLDTOPARTY</th>
              <th>PONUMBER</th>
              <th>NETVALUE</th>
              <th>VOLUME</th>
              <th>DELIVERYPLANT</th>
              <th>QUANTITY</th>
              <th>INVOICENO</th>
              <th>REQUIREDDELIVERYDATE</th>
              <th>PAYMENTTERMS</th>
              <th>ITEM</th>
            </thead>
            <tbody *ngFor="let sod of sodArray">
              <tr align="center">
                <td> </td>
                <td>{{sod.SALEORDERNUMBER._text}}</td>
                <td>{{sod.CUSTOMERNUMBER._text}}</td>
                <td>{{sod.SOLDTOPARTY._text}}</td>
                <td>{{sod.PONUMBER._text}}</td>
                <td>{{sod.NETVALUE._text}}</td>
                <td>{{sod.VOLUME._text}}</td>
                <td>{{sod.DELIVERYPLANT._text}}</td>
                <td>{{sod.QUANTITY._text}}</td>
                <td>{{sod.INVOICENO._text}}</td>
                <td>{{sod.REQUIREDDELIVERYDATE._text}}</td>
                <td>{{sod.PAYMENTTERMS._text}}</td>
                <td>{{sod.ITEM._text}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <h4  class="mt-3 text-center"><strong>List of Delivery</strong></h4>
        <div  class="table-responsive">     
          <table id="mytable" class="table table-bordred table-striped">
            <thead>
              <th> </th>
              <th>DELIVERYNUMBER</th>
              <th>CUSTOMERNUMBER</th>
              <th>DELIVERYTYPE</th>
              <th>DELIVERYBLOCK</th>
              <th>IMMEDIATEDELIVERY</th>
              <th>SHIPPINGCONDITIONS</th>
              <th>SHIPCOST</th>
            </thead>
            <tbody *ngFor="let lod of lodArray">
              <tr align="center">
                <td> </td>
                <td>{{lod.DELIVERYNUMBER._text}}</td>
                <td>{{lod.CUSTOMERNUMBER._text}}</td>
                <td>{{lod.DELIVERYTYPE._text}}</td>
                <td>{{lod.DELIVERYBLOCK._text}}</td>
                <td>{{lod.IMMEDIATEDELIVERY._text}}</td>
                <td>{{lod.SHIPPINGCONDITIONS._text}}</td>
                <td>{{lod.SHIPCOST._text}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  

 

</body>

</html>




