
<!-- {{countries[0]["name"]}} -->
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	
	
	<input id="vendorID" type="text">
	<button (click)="onClick()" id="search" type="button" value="search" >Search</button>
	<p id="hello"></p>
	<!-- <a class="dropdown-toggle list-group-item list-group-item-action bg-dark text-light" routerLink="/customerlogin/customerprofile" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Dropdown
	  </a>
	  <div class="dropdown-menu bg-dark text-light" aria-labelledby="navbarDropdown">
		<a class=" list-group-item list-group-item-action bg-dark text-light" href="#">Action</a>
		<a class="list-group-item list-group-item-action bg-dark text-light" href="#">Another action</a>
	  </div> -->

</body>
</html>
