
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

 
</head>

<body>
  <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="line-scale"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
  <div [class.toggled]="show" class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-dark navbar-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading bg-dark mb-4"> 
          <a href="https://www.kaartech.com/">
            <img src="https://media.glassdoor.com/sqll/443831/kaar-technologies-squarelogo-1407823308138.png" style="margin-left: 30px;" width="50" height="50" class="d-block ml-4 mb-2 align-center img-thumbnail" id="logo" alt="">
          </a> 
          <div class="kaar-color">Kaar Technologies</div>
      </div>
      
      <div class="list-group list-group-flush">
        <a routerLink="/qualitylogin/qualitydashboard" class="list-group-item list-group-item-action bg-info text-light">Quality Dashboard</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <button (click)="toggle()" class="btn btn-primary" id="menu-toggle">Show/Hide</button>
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        </div>
       
        <div class="mx-auto order-0">
            <span class="navbar-brand mx-auto">Quality Check Portal</span>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <button class="ui red button ml-2" (click)="logout()" id="lbtn">Logout</button>
                </li>
            </ul>
        </div>
        
          <button class="ui red button ml-2 navbar-toggler" (click)="logout()" id="lbtn" type="button" data-toggle="collapse" data-target=".dual-collapse2">Logout</button>
        
    </nav>
    <button *ngIf="recordShow || useShow" (click)="backtoil()" style="margin-left: 36vw" class="btn btn-danger mt-3 ">Back to Inspection Lots </button>
      <div  class="container-fluid">
        <h4 *ngIf="insShow" class="text-center mt-3"><strong>Inspection Lot</strong></h4>
        
        <div *ngIf="tableShow" class="table-responsive">     
          <table id="mytable" class="table table-bordred table-striped">
            <thead>
              <th> </th>
              <th> </th>
              <th>InspectionLotNo</th>
              <th>MaterialNo</th>
              <th>Plant</th>
              <th>InspectionType</th>
              <th>ObjectNumber</th>
              <th>ObjectCategory</th>
              <th>CreationDate</th>
              <th>CreationTime</th>
              <th>InsStartDate</th>
              <th>InsStartTime</th>
              <th>InsEndDate</th>
              <th>InsEndTime</th>
            </thead>
            <tbody *ngFor="let inslot of insLotArray">
              <tr align="center">
                <td><button (click)="recordForm(inslot.InspectionLotNo)" class="btn btn-primary btn-sm">RecordResult</button> </td>
                <td><button (click)="usageForm(inslot.InspectionLotNo)" class="btn btn-warning btn-sm">UsageDecision</button></td>
                <td>{{inslot.INSLOTNO._text}}</td>
                <td>{{inslot.MATNR._text}}</td>
                <td>{{inslot.PLANT._text}}</td>
                <td>{{inslot.INSTYPE._text}}</td>
                <td>{{inslot.OBJNO._text}}</td>
                <td>{{inslot.OBJCAT._text}}</td>
                <td>{{inslot.DATCREATE._text}}</td>
                <td>{{inslot.TIMCREATE._text}}</td>
                <td>{{inslot.STARTDAT._text}}</td>
                <td>{{inslot.STARTTIM._text}}</td>
                <td>{{inslot.ENDDAT._text}}</td>
                <td>{{inslot.ENDTIM._text}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="recordShow" style="width: 40vw" class="container">
        <h4  class="text-center mt-3"><strong>Result Recording</strong></h4> 
        <form>
        
          <div *ngIf="recordShow">
            
            <div class="form-group">
              <label><strong>InspectionCharNo</strong></label>
              <input type="text" id="InspectionCharNo" class="form-control">
            </div>
            <div class="form-group">
              <label><strong>ResultAttribute</strong></label>
              <input type="text" id="ResultAttribute" class="form-control">
            </div>
            <div class="form-group">
              <label><strong>InspectorName</strong></label>
              <input type="text" id="InspectorName" class="form-control">
            </div>
            <div class="form-group">
              <label><strong>InspectionStartDate</strong></label>
              <input type="text" id="InspectionStartDate" class="form-control">
            </div>
            <div class="form-group">
              <label><strong>InspectionEndDate</strong></label>
              <input type="text" id="InspectionEndDate" class="form-control">
            </div>
            <div class="form-group">
              <label><strong>NoOfSampleUnits</strong></label>
              <input type="text" id="NoOfSampleUnits" class="form-control">
            </div>
            <div class="form-group">
              <label><strong>NoOfDefects</strong></label>
              <input type="text" id="NoOfDefects"  class="form-control">
            </div>
            <div class="form-group">
              <label><strong>ValuesAboveTR</strong></label>
              <input type="text" id="ValuesAboveTR" class="form-control">
            </div>
            <div class="form-group">
              <label><strong>ValuesBelowTR</strong></label>
              <input type="text" id="ValuesBelowTR" class="form-control">
            </div>
          
            <button (click)="createRecord()" style="margin-left: 17vw" class="btn btn-success">Create</button>
          </div>
        </form>
      </div>
      <div *ngIf="useShow" style="width: 40vw" class="container">
        <h4 *ngIf="useShow" class="text-center mt-3"><strong>Usage Decision</strong></h4> 
        <form>
          <div *ngIf="useShow">
            <div class="form-group">
              <label><strong>Date</strong></label>
              <input type="text" id="Date" class="form-control">
            </div>
            <div class="form-group">
              <label><strong>Counter</strong></label>
              <input type="text" id="Counter" class="form-control">
            </div>
            <div class="form-group">
              <label><strong>Plant</strong></label>
              <input type="text" id="Plant" class="form-control">
            </div>
            <div class="form-group">
              <label><strong>SelectedSet</strong></label>
              <input type="text" id="SelectedSet" class="form-control">
            </div>
            <div class="form-group">
              <label><strong>CodeGroup</strong></label>
              <input type="text" id="CodeGroup" class="form-control">
            </div>
            <div class="form-group">
              <label><strong>Code</strong></label>
              <input type="text" id="Code" class="form-control">
            </div>
            <div class="form-group">
              <label><strong>FollowUpAction</strong></label>
              <input type="text" id="FollowUpAction"  class="form-control">
            </div>
            <div class="form-group">
              <label><strong>QualityScore</strong></label>
              <input type="text" id="QualityScore" class="form-control">
            </div>
            <div class="form-group">
              <label><strong>PersonResponsible</strong></label>
              <input type="text" id="PersonResponsible" class="form-control">
            </div>
            <div class="form-group">
              <label><strong>Time</strong></label>
              <input type="text" id="Time" class="form-control">
            </div>
          
            <button (click)="createUsage()" style="margin-left: 17vw" class="btn btn-success">Create</button>
          </div>
        </form>
      </div>
      </div>  
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  

 

</body>

</html>




