
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

 
</head>

<body>
  <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="line-scale"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
  <div [class.toggled]="show" class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-dark navbar-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading bg-dark mb-4"> 
          <a href="https://www.kaartech.com/">
            <img src="https://media.glassdoor.com/sqll/443831/kaar-technologies-squarelogo-1407823308138.png" style="margin-left: 30px;" width="50" height="50" class="d-block ml-4 mb-2 align-center img-thumbnail" id="logo" alt="">
          </a> 
          <div class="kaar-color">Kaar Technologies</div>
      </div>
      
      <div class="list-group list-group-flush">
        <a routerLink="/employeelogin/employeeprofile" class="list-group-item list-group-item-action bg-info text-light nohover">Employee Profile</a>
        <a routerLink="/employeelogin/employeeleavedata" class="list-group-item list-group-item-action bg-dark text-light">Leave Data</a>
        <a routerLink="/employeelogin/employeesalarypayslip" class="list-group-item list-group-item-action bg-dark text-light">Salary Pay Slip</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <button (click)="toggle()" class="btn btn-primary" id="menu-toggle">Show/Hide</button>
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        </div>
       
        <div class="mx-auto order-0">
            <span class="navbar-brand mx-auto">Employee Portal</span>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <button class="ui red button ml-2" (click)="logout()" id="lbtn">Logout</button>
                </li>
            </ul>
        </div>
        
          <button class="ui red button ml-2 navbar-toggler" (click)="logout()" id="lbtn" type="button" data-toggle="collapse" data-target=".dual-collapse2">Logout</button>
        
    </nav>
      <div class="container-fluid">
        <section id="top">
        <div *ngIf="loaded" style="width: 40vw" class="container">
        <h3  class="text-center mt-3"><strong>Employee Profile</strong></h3>
        <button *ngIf="editable" (click)="saveChanges()" style="margin-left: 17vw" class="btn btn-success mt-1">Save Changes</button>
        <button *ngIf="!editable" (click)="updateProfile()" style="margin-left: 17vw" class="btn btn-warning mt-1">Update</button>
        <form>
          <div class="form-group">
            <label><strong>PersonnelNumber</strong></label>
            <input disabled type="text" id="PersonnelNumber" class="form-control" value="{{employeeProfile.PersonnelNumber}}">
          </div>
          <div class="form-group">
            <label><strong>EmployeeName</strong></label>
            <input [disabled]="!editable" type="text" id="EmployeeName" class="form-control" value="{{employeeProfile.EmployeeName}}">
          </div>
          <div class="form-group">
            <label><strong>PersonnelArea</strong></label>
            <input [disabled]="!editable" type="text" id="PersonnelArea" class="form-control" value="{{employeeProfile.PersonnelArea}}">
          </div>
          <div class="form-group">
            <label><strong>EmployeeGroup</strong></label>
            <input [disabled]="!editable" type="text" id="EmployeeGroup" class="form-control" value="{{employeeProfile.EmployeeGroup}}">
          </div>
          <div class="form-group">
            <label><strong>OrganizationalKey</strong></label>
            <input [disabled]="!editable" type="text" id="OrganizationalKey" class="form-control" value="{{employeeProfile.OrganizationalKey}}">
          </div>
          <div class="form-group">
            <label><strong>BusinessArea</strong></label>
            <input [disabled]="!editable" type="text" id="BusinessArea" class="form-control" value="{{employeeProfile.BusinessArea}}">
          </div>
          <div class="form-group">
            <label><strong>PayrollArea</strong></label>
            <input [disabled]="!editable" type="text" id="PayrollArea"  class="form-control" value="{{employeeProfile.PayrollArea}}">
          </div>
          <div class="form-group">
            <label><strong>OrganizationalUnit</strong></label>
            <input [disabled]="!editable" type="text" id="OrganizationalUnit" class="form-control" value="{{employeeProfile.OrganizationalUnit}}">
          </div>
          <div class="form-group">
            <label><strong>Position</strong></label>
            <input [disabled]="!editable" type="text" id="Position" class="form-control" value="{{employeeProfile.Position}}">
          </div>
          <div class="form-group">
            <label><strong>SupervisorArea</strong></label>
            <input [disabled]="!editable" type="text" id="SupervisorArea" class="form-control" value="{{employeeProfile.SupervisorArea}}">
          </div>
          <div class="form-group">
            <label><strong>CompanyCode</strong></label>
            <input [disabled]="!editable" type="text" id="CompanyCode" class="form-control" value="{{employeeProfile.CompanyCode}}">
          </div>
        </form>
      </div>
    </section>
      </div>
      
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  

 

</body>

</html>




